<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Records</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<h1>See below for all records</h1>

<div style="overflow: auto; height: 50pc" >
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th scope="col"> Name </th>
            <th scope="col"> PPS Number </th>
            <th scope="col"> Date Of Birth </th>
            <th scope="col"> Mobile Number </th>


        </tr>
        </thead>
        <tbody>
        <tr th:if="${beans.empty}">
            <td colspan="2"> No Data Available </td>
        </tr>
        <tr th:each="bean : ${beans}">
            <td><span th:text="${bean.name}"> Name </span></td>
            <td><span th:text="${bean.pps}"> PPS Number </span></td>
            <td><span th:text="${#dates.format(bean.dob , 'dd-MM-yyyy')}"> Date Of Birth </span></td>
            <td><span th:text="${bean.phone}"> Mobile Number </span></td>

        </tr>
        </tbody>
    </table>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


</body>
</html>